$igv-default-font-face: 'Open Sans', sans-serif;
$igv-trackgear-grey-color: #7F7F7F;
$igv-trackgear-popover-border-radius: 4px;
$igv-dark-grey-color: #373737;

@import "igv-widgets-alert-dialog";
@import "file-load-widget";
@import "igv-ui-alert-dialog";
